
source/*/bin/
source/*/obj/
source/packages/
*.suo
source/buildreports/
source/node_modules/
source/test-results.xml
*.user
source/bin/
nunit-result.xml
*.swp
source/coverage
buildreports
source/.vs/config/applicationhost.config
source/OpenCover/




