<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-hotdog" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <a class="dropdown-item" routerLink="/dashbord">
            <i class="fa fa-home" aria-hidden="true"></i> Products Inventory</a>
        <li class="nav-item">

        </li>
      </ul>
      <ul class="navbar-nav">
        <a class="nav-link" routerLink="categories">Manage Categories</a>
        <a class="nav-link" routerLink="products">Manage Products</a>        
        <a class="nav-link" routerLink="register">Register</a>        
        <a class="nav-link" routerLink="login">Login</a>        
      </ul>
    </div>
  </div>
</nav>

